// Font Akrobat
@import url('https://fonts.cdnfonts.com/css/akrobat');

$akrobat300: 'Akrobat ExtraLight', sans-serif;
$akrobat400: 'Akrobat Light', sans-serif;
$akrobat500: 'Akrobat', sans-serif;
$akrobat600: 'Akrobat SemiBold', sans-serif;
$akrobat700: 'Akrobat Bold', sans-serif;
$akrobat800: 'Akrobat ExtraBold', sans-serif;
$akrobat900: 'Akrobat Black', sans-serif;