body.wp-singular.brokers-template-default.single.single-brokers.postid-86.logged-in.wp-theme-disnorte.garoto .banner__tag h1 {
    display: none;
}

body.wp-singular.brokers-template-default.single.single-brokers.postid-86.logged-in.wp-theme-disnorte.garoto .banner__tag img {
    max-width: 90%;
}

.infraestrutura__slider figure::after {
    display: none;
}

.infraestrutura__slider figure img {
    mask: none !important;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: auto;
}

.header__top {
    display: flex;
    align-items: center;
    position: relative;
}

.header__slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__slogan-slogan {
    display: flex;
    min-width: 41.4rem;
    max-width: 41.4rem;
    width: fit-content;
}

.header__slogan-ziggy {
    z-index: 1;
    min-width: 15.5rem;
    height: auto;
    transform: translate(4rem, 5rem);
}

@media (max-width: 1024px) {
    .header__menu {
        gap: 2.5rem;
    }

    .header__slogan {
        display: none;
    }
}